
#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: space-between;
  width: 100vw;
  height: 75px;
  background-color: #222629;
}
.button {
  background-color: rgb(95, 97, 95); 
  border: none;
  font-family: Courier;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
}
.button:hover {
  background-color: black;
  opacity: 50%;
  transition: all .5s ease-out;
  color: aqua;
}
#body {
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-template-areas: 
  "maplet maplet menu";
}
#menu {
  height: 90vh;
  /* background-color:  */
}
 #maplet {
  height: 90vh;  
 }

a.leaflet-control-zoom-out{
display: none;
}
a.leaflet-control-zoom-in{
  display:none;
}