
#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: space-between;
  width: 100vw;
  height: 75px;
  background-color: #222629;
}
/* - - - buttons - - - */ 
.button {
  background-color: rgb(95, 97, 95); 
  border: none;
  font-family: Courier;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
}
.button:hover {
  background-color: black;
  opacity: 50%;
  transition: all .5s ease-out;
  color: aqua;
}

#gridForDirectionalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* - - - buttons - - - */ 
#body {
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-template-areas: 
  "maplet maplet menu";
}
#menu {
  height: 90vh;
  display: flex;
  flex-direction: row;
  z-index: 0;
  position: relative;
}
 #maplet {
  height: 90vh;  
  display: flex;
  position: relative;
  z-index: 1;
 }
 .arrow {
   z-index: 100;
   position: absolute;
   height: 50px;
   width: 75px;
 }

 }
#arrowT {
  margin-top: 200px;
}
a.leaflet-control-zoom-out{
display: none;
}
a.leaflet-control-zoom-in{
  display:none;
}